

$logo-large-size: 60px;
$logo-medium-size: 36px;
$logo-small-size: 24px;

$platform-logo-size-large: 22px;
$platform-logo-size-medium: 16px;
$platform-logo-size-small: 12px;


.af-app-logo {
  display: flex
}

